html,body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
.layout-wrapper {
    display: grid;
    grid-template-rows: 1fr 400px 1fr;
    grid-template-areas:
    "sidebar"
    "presentation-base"
    "content";

    height: 100%;
    width: 100%;

}

.layout-sidebar
{
    grid-area: sidebar;
    background-color: #ffbf00;
    display: flex;
    justify-content: space-around;
}
.layout-imgpresentation-base
{
    grid-area: presentation-base;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-content
{
    grid-area: content;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 28% auto 20% auto;
    grid-template-areas:
    "presentation"
    "travaux"
    "commentaire"
    "contact"
    "footer";
}
.layout-travaux
{
    grid-area: travaux;
    background-color: #ffffff;
}
.layout-commentaire
{
    grid-area: commentaire;
    background-color: whitesmoke;
}
.layout-contact
{
    grid-area: contact;
    background-color: #ffffff;
}
.layout-footer
{
    grid-area: footer;
    background-color: rgb(9, 2, 50);
    color: white;
}
.layout-presentation
{
    grid-area: presentation;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row
{
    justify-content: center;
}

.layout-wrapper-travaux
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 400px auto auto auto;
    grid-template-areas:
    "sidebar2"
    "presentation"
    "banner"
    "card-group"
    "footer";

}
.layout-card-group
{
    grid-area: card-group;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-sidebar2
{
    grid-area: sidebar2;
    background-color: #ffbf00;
    display: flex;
    justify-content: space-around;
}
.layout-banner
{
    grid-area: banner;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layout-imgpresentation
{
    grid-area: presentation;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-images
{
    display: flex;
        align-items: center;
}
@media only screen and (max-width: 800px) {
    body {
        
        font-size: 0.8rem;
    }
    .container
    {
        max-width: 250px;
    }
    .layout-presentation
    {
    grid-area: presentation;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .layout-sidebar
    {
        background-color: #ffbf00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    .layout-sidebar2
    {
        grid-area: sidebar2;
    background-color: #ffbf00;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .description-span
    {
    margin-bottom: 5rem;
    height: 50%;
    width: 100%;
    font-family: "Yeseva One", cursive;
    font-size: 30px;
    text-align: center;
    }
    .banner-images
    {
        display: flex;
        flex-direction: column;
        /* align-content: stretch; */
        align-items: center;
    }
    .map
    {
    width: 450px;
    height: 450px;
    }
    .main
    {
        width: 100%;
    }
    .img-patrick
    {
        margin: 0;
        width: fit-content;
        margin-right:0;
    }
    .logo-taille
    {
        margin: 0;

        width: 100px;

    }
    .boutons
    {
        height: 100%;
    }

}